* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  display: inline-block;
  width: 15%;
  float:left;
  position: fixed;
  top: 80px;
}
nav ul {
  width: 100%;
  text-align: right;
  list-style-type: none;
}
nav ul a {
  text-decoration:none;
}
nav li {
  padding: 3px 20px 3px 0;
}
nav li:hover {
  background-color: #221e33;
  color: #f9f9f9;
}

body {
  background-color: #f9f9f9;
  color: #f9f9f9;
  font-family: sans-serif;
}

header {
}
header h1 {
  margin-left: 20%;
}
header h2 {
  margin-left:30%;
}

section {
  padding: 20px;
}

main {
  display: inline-block;
  width: 85%;
  float: right;
  background-color: #221e33;
}
main h2 {
  
}
main p {
  margin: 10px;
}

.project-wrapper {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 100%;
} .project-wrapper article {
  height: 500px;
}

.project-box {
  display: inline-block;
  margin: 15px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 4px;
  color: #221e33;
} .project-box img {
  /*width: 100%;
  height: 100%;*/
}

.project-description {
  display: inline-block;
  /*margin: 20px 10px 20px 10px;*/
  padding: 10px;
  width: 450px;
  height: 450px;
  float:right;
}

h3 {
  text-align:center;
  color: #221e33;
  margin-bottom: 10px;
}


